/* YOUR CUSTOM STYLES */
/* TEMPLATE STYLES */
/* Necessary for full page carousel*/

html,
body,
.view {
    height: 100%;
}
/* Navigation*/

.login-link {
    padding: 3px 10px;
    background: rgb(255, 255, 0);
    color: rgb(6, 99, 154) !important;
    border-radius: 20px;
    font-weight: 500;
}

.scrolling-navbar {
    -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
    transition: background .5s ease-in-out, padding .5s ease-in-out;
}

.top-nav-collapse, .unscrolling-navbar, footer.page-footer {
    background-color: rgb(6, 99, 154);
}

.top-nav-collapse ul li a:hover {
    color: rgb(255, 255, 0) !important;
}

/* Footer */

footer.page-footer a:hover {
    text-decoration: underline;
    color: rgb(255, 255, 0);
}

.footer-copyright {
    margin-top: 15px;
    background-color: rgb(255, 255, 0) !important;
    color: black !important;
}

/* Carousel*/

.carousel,
.carousel-item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}
/*Caption*/

.flex-center {
    color: #fff;
}

@media (min-width: 776px) {
    .carousel .view ul li {
        display: inline;
    }
    .carousel .view .full-bg-img ul li .flex-item {
        margin-bottom: 1.5rem;
    }
}
.navbar .btn-group .dropdown-menu a:hover {
    color: #000 !important;
}
.navbar .btn-group .dropdown-menu a:active {
    color: #fff !important;
}

.md-form label.active {
    transform: translateY(-50%) !important;
}
