th{
	text-align: center !important;
}
td{
  text-align: left !important;
}
.section_viewer,.department_viewer,.course_viewer,.student_viewer,.faculty_viewer,.sub_admin_viewer,
.admin_viewer,.class_list_viewer,.requirements_viewer,.slide_viewer,.forms_viewer,.company_viewer,.faq_viewer{
  overflow-y: auto;
}
.dropdown-content li > a, .dropdown-content li > span {
    color: #0d47a1 !important;
}

#user-title span{
  padding-left:15px;
  padding-right: 15px;
}

#user-title{
  background-color: #01579b !important;
}

.side-nav .collapsible-header, .side-nav.fixed .collapsible-header{
  border: solid 1px transparent !important;
}

blockquote{
  margin: 20px 0;
  padding-left: 1.5rem;
  border-left: 5px solid #0d47a1;
}

.news-content{
  font-size: 18px;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  white-space: pre-wrap;
}

.icon-posting{
  color: #9e9e9e;
}
.btn-posting{
  box-shadow: none !important;
  color: #9e9e9e;
  font-size: 17px;
  padding-right: 10px;
}

body{
	background: #fafafa;
  font-family: "Roboto","Helvetica","Arial",sans-serif !important;
}
.post-image{
  width:50px;
  height: 50px;
}

.toggle-btn{
	display: none;
}

.parallax-container {
      height: 400px;
      object-fit: cover;
}
.post-image-name-holder-post{
  width: 200px;
}
.post-image-name-holder{
  width:400px;
}
.post-image-holder{
  padding:0 10px 0 0;
  text-align:left;
  width:70px;
}
.name-holder{
  padding:0px;
  text-align:left;
  font-weight:bold;
}

.time-holder{
  padding:0px;
  text-align:left;
}

@media only screen and (max-width : 500px) {
  .parallax img {
    max-height: 350%; /* or a little bit higher */

  }
  .parallax-container {
      height: 160px !important;
  }
  .parallax-container .right h4{
    font-size: 15px !important;
  }
}

@media only screen and (max-width : 992px) {
  .parallax img {
    max-height: 200%; /* or a little bit higher */

  }
  .parallax-container {
      height: 300px;
  }
  .name-holder span,.time-holder span{
    font-size : 12px !important;
  }
  .post-image-name-holder{
    width:200px;
  }
}

@media only screen and (min-width: 993px) {
  .parallax img {
    max-height: 200%; /* or higher percentages. It's up to your taste */
    width: 100%;
  }
  .parallax-container {
      height: 400px;
  }
}

.hidden{
  display: none;
}

.input-field textarea:focus + label , .input-field input:focus + label , .input-field .prefix.active {
  color: #0d47a1 !important;
}

.row .input-field textarea:focus , .row .input-field input:focus , .select2-search__field:focus ,input:focus{
  border-bottom: 1px solid #0d47a1 !important;
  box-shadow: 0 1px 0 0 #0d47a1 !important
}

.dropdown-content {
  background-color: #FFFFFF;
  margin: 0;
  display: none;
  min-width: 400px; /* Changed this to accomodate content width */
  margin-left: -1px; /* Add this to keep dropdown in line with edge of navbar */
  overflow: hidden; /* Changed this from overflow-y:auto; to overflow:hidden; */
  opacity: 0;
  position: absolute;
  white-space: nowrap;
  z-index: 1;
  will-change: width, height;
}

.fa-globe{
  font-size: 25px !important;
}
.dropdown-content.collection
{
  overflow-y: auto;
  min-height: 50px !important;
  max-height: 270px;
}
.dropdown-content.collection li.collection-item a{
  margin-top: -10px !important;
  padding-left: 0px !important;
}
.dropdown-content.collection li.collection-item{
  height: 100px !important;
  min-height: 100px !important;
}
.dropdown-content.collection li.collection-item > a:hover,.collection li.collection-item > a:hover{
  background: transparent !important;
}

.history_note,.new_note{
  transition:0.5s;
}
.history_note:hover,.new_note:hover{
  background-color: #eeeeee !important;
}
.btn,.modal-close{
  z-index: 0 !important;
}
.modal-content{
  overflow: visible !important;
}
.fab-adjust {
  bottom: 15%;
}
